<h1>This is javascript: <%= thingVar %></h1> 

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>GOOD CHOICE! Rusty is the best!</p>
<% } else { %>
    <p>BAD CHOICE!</p>
<% } %>

<p>This is ejs.file</p>